body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #00d1b2;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
}

.paragraph {
    color: white;
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    text-align: center;
}

form {
    background: #357fbe;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

.message {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}
/*fin incription */


/* debut index*/ 
.right-image {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.rounded-image {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 10px rgba(247, 246, 246, 0.962);
}


/* connexion */

/* Arrière-plan */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #2b1055, #7597de);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
 
}

/* Carte login */
.login-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 40px;
  width: 300px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.h2 {
  text-align: center;
  color: #ccc;
}

/* Avatar */
.avatar {
  background-image: url('./img/avatar-de-lutilisateur.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Champs */
.input-group {
  width: 90%;
  margin-bottom: 15px;
}

.input-group input {
  width: 80%;   
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  margin-bottom: 20px;
}

/* Bouton */
.btn-login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #001f5c;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #003399;
}

/* profil*/
.container-profil {
    background-color: #f0f8ff;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: left;
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* admin*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}